<div class="user-profile">

    <h1>Profile</h1>
    <div *ngIf="showButtons">
      <button (click)="goToCreateUser()">Create Account</button>
      <button (click)="goToLogin()">Login</button>
    </div>
    <div *ngIf="!showButtons">
      <p>Welcome {{ username }}!</p>
    </div>
    <button *ngIf="!showButtons" (click)="logout()">Logout</button>


    <!-- <p>User ID: {{demoUser.userID}}</p> -->
    <!-- Space for displaying user posts -->
    <!-- Going to pull posts that match User ID and display them here -->
</div>
