<div class="bg">
    <div>
        <div class="post-container">
            <div class="post">
                <form (submit)="onAddPost(postForm)" #postForm="ngForm" class="form">
                    <input type="text" name="title" id="title" ngModel required #title="ngModel" placeholder="Enter title" class="input-field">
                    <textarea name="content" id="content" cols="30" rows="6" ngModel required #content="ngModel" placeholder="Enter post content" class="input-field"></textarea>
                    <button mat-raised-button color="primary" type="submit">Post</button>
                </form>
            </div>
            <div *ngFor="let post of postList" class="post">
                <h3>{{post.title}}</h3>
                <p>{{post.content}}</p>
            </div>
        </div>
    </div>
</div>
